#blockone {
  float: left;
  animation:fade 3s;
  -webkit-animation:fade 3s infinite;
}
#blocktwo {
  float: right;
  background-color: #F77219;
}
.blockbackground {
  width:50%;
  height: 500px;
  text-align: center;
}
@-webkit-keyframes fade {
    0% {background:#EF4136;}
    50% {background:#F2CA25;}
    100% {background:#EF4136;}
}
@-webkit-keyframes fadeblue {
    0% {background:#3119b9;}
    50% {background:#fe88f6;}
    100% {background:#3119b9;}
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.logo {
  max-width: 300px;;
}
.albumpic {
  width: 200px;
  margin-top: 85px;
  animation:rotation 5s;
  -webkit-animation:rotation 5s infinite linear;
}
.tourtextcontain li{
  list-style: none;
}
.tourdetails {
  font-family: 'Prompt', sans-serif;
  color: white;
  font-size: 14pt;
  margin: 5px;
}
.ticketlink {
  font-family: 'Prompt', sans-serif;
  color: white;
  font-size: 12pt;
  margin: 5px;
  border: solid white;
  border-width: thin;
  padding-left: 10px;
  padding-right: 10px;
}
a {
  text-decoration: none;
}
.ticketlink:hover {
  background-color: #09106D;
  border: none;
}
.albumtitle {
  font-family: 'Prompt', sans-serif;
  color: white;
  font-size: 18pt;
  padding-top: 30px;
  margin-bottom: none;
}
.albumdetails {
  font-family: 'Prompt', sans-serif;
  color: white;
  font-size: 11pt;
  margin-top: 5px;
}
.spotifyicon {
  width: 30px;
}
#blockthree {
  background-color: #c3eefe;
  float: left;
}
#blockfour {
  float:right;
  animation:fadeblue 3s;
  -webkit-animation:fadeblue 3s infinite;
}
.imagefill {
  width: 450px;
  margin-top: 85px;
}
.abouttext {
  color: #F77219;
  font-family: 'Prompt', sans-serif;
  font-size: 18pt;
}
.abouttext:hover {
  color:#3119b9;
}
